/* http://paletton.com/#uid=50F0x0klllllmrhmnfHqXpBqrjx */

@color-primary-0: #AA7739;	/* Main Primary color */
@color-primary-1: #D99848;
@color-primary-2: #7D5626;
@color-primary-3: #CC7F20;
@color-primary-4: #9C621B;

@color-secondary-1-0: #AA8E39;	/* Main Secondary color (1) */
@color-secondary-1-1: #D9B548;
@color-secondary-1-2: #7D6726;
@color-secondary-1-3: #CCA120;
@color-secondary-1-4: #9C7B1B;

@color-secondary-2-0: #AA4E39;	/* Main Secondary color (2) */
@color-secondary-2-1: #D96448;
@color-secondary-2-2: #7D3626;
@color-secondary-2-3: #CC4120;
@color-secondary-2-4: #9C341B;

@menu-text: rgba(170, 170, 160, 1);
@button-border: rgba(190, 190, 180, 0.3);
@button-bg: rgba(0, 0, 10, 0.2);
@flavor-text: rgba(170, 80, 23, 1);
@error-text: rgba(190, 10, 0, 1);
@skill-dmg: rgba(50, 255, 90, 1);

@hero-footer-bar-width: 150px;

@menu-text-disabled: rgba(170, 70, 60, 1);
@button-border-disabled: rgba(190, 90, 80, 0.3);
@button-bg-disabled: rgba(40, 0, 0, 0.3);

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    /*font-family: 'Source Code Pro', sans-serif;*/
    /*font-family: 'UnifrakturMaguntia', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Pathway Gothic One', sans-serif;*/
    font-family: 'Droid Serif', serif;
    background-color: #333;

    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .stats {
    /*background-color: @color-primary-0;*/
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    font-size: 12px;
    line-height: 130%;
    color: @menu-text;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    overflow: hidden;

    .holder {
        width: 425px;
        overflow: auto;

        table {
            margin-left:5px;
            margin-top:5px;
            width: 200px;
            float: left;
        }
    }
}

.dragSlot {
    position: absolute;
    background-color: @button-bg;
    border: 2px solid @button-border;
    border-radius: 5px;
    width: 73px;
    height: 73px;
    cursor: grabbing;
    color: @menu-text;
    font-size: 14px;
    display: none;
    z-index: 1;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    .corner {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        line-height: 20px;
        font-size: 16px;
        text-align: center;
    }
    .corner-level {
        z-index: 1;
        opacity: 0.7;
        background-color: #000;
    }

    .xpbar {
        position: absolute;
        bottom: 5px;
        left: 5px;
        height: 5px;
        background: linear-gradient(to bottom, #AAAA00, #FFFF00, #AAAA00);
        opacity: 0.7;
    }
}

.itemTab {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0px;
    width: 405px;

    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    overflow-x: hidden;
    overflow-y: auto;

    font-size: 11px;
    color: @menu-text;

    .holder {
        width: 425px;
        overflow: auto;
    }

    .container {
        width: 405px;
        overflow: hidden;

        .header {
            width: 385px;
            background-color: @button-bg;
            border: 2px solid @button-border;
            border-radius: 3px;
            margin: 5px 5px 2px 5px;
            padding: 3px;
            font-weight: bold;
            text-align: center;
        }
    }
}

.itemSlot {
    background-color: @button-bg;
    border: 2px solid @button-border;
    border-radius: 5px;
    overflow: hidden;
    margin: 2px 0 0 3px;
    width: 73px;
    height: 73px;
    float: left;
    /* cursor: pointer; */
    color: @menu-text;
    font-size: 14px;
    position: relative;

    img {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .slot-background {
        color: black;
        opacity: 0.4;
        position: absolute;
        font-size: 40px;
        line-height: 73px;
        z-index: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .newflag {
        font-weight: bold;
        color: #FFF;
        position: absolute;
        z-index: 2;
        left: 5px;
    }
    
    .lvlflag {  
        font-weight: bold;
        color: #FFF;    
        position: absolute; 
        z-index: 2; 
        left:   5px;
    } 

    .corner {
        float: right;
        top: 3px;
        right: 3px;
        height: 20px;
        border-radius: 5px;
        line-height: 20px;
        font-size: 16px;
        text-align: center;
    }
    .corner-level {
        z-index: 1;
        opacity: 0.7;
        background-color: #000;
    }

    .xpbar {
        position: absolute;
        bottom: 5px;
        left: 5px;
        height: 5px;
        background: linear-gradient(to bottom, #AAAA00, #FFFF00, #AAAA00);
        opacity: 0.7;
    }

    .overlay {
        position: absolute;
        z-index: 100;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }
}
.itemSlot.red .overlay {
    background-color: red;
}
.itemSlot.yellow .overlay {
    background-color: yellow;
}
.itemSlot.selected {
    border-color: rgba(244, 184, 38, 1);
    .overlay {
        background-color: yellow;
    }
}
.itemSlot.dragging img,
.itemSlot.dragging div {
    visibility: hidden;
}
.itemSlot .newflag {
    display: none;
}
.itemSlot.new .newflag {
    display: block;
}
.filters {
    border: 0px;
    margin: 5px;
    font-size: 18px;
    line-height: 20px;
    height: 22px;
    position: relative;

    div {
        display: block;
        float: left;
        overflow: hidden;
        border-radius: 5px;
        border-spacing: 0;
        border: 1px solid black;

        span {
            display: block;
            float: left;
            text-align: center;
            border: 1px solid black;
            background-color: rgba(0, 0, 10, 0.5);
            min-width: 31px;
        }
        span:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        span:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        span.selected {
            background-color: rgba(255, 255, 0, 0.3);
        }
    }
    div:last-child {
        float: right;
    }
    div:last-child:first-child {
        /* For Recycle tab because there is only one filter */
        float: left;
        margin-left: 61px;
        span {
            min-width: 36px;
        }
    }
}

.focused-area {
    font-size: 14px;

    input[type=button] {
        border-radius: 5px;
        font-size: 18px;
        border-width: 2px;
        border-color: @button-border;
        background-color: @button-bg;
        color: @menu-text;
    }
    input[type=button]:focus {
        outline: none;
    }
    input[type=button]:disabled {
        border-color: @button-border-disabled;
        background-color: @button-bg-disabled;
        color: @menu-text-disabled;
    }

    /* Craft tab specific */
    .cost {
        float: left;
        margin: 5px;
        max-width: 200px;
    }
    .upgrade {
        float: right;
        height: 34px;
        line-height: 30px;
        margin: 21px 10px 21px 0;
    }
    .cur-mods, .next-mods {
        float: left;
        width: 192px;
        margin: 5px;
        text-align: center;
    }
    .cur-mods {
        clear: both;
    }
    .mod-header {
        font-weight: 700;
    }

    /* End Craft tab specific */
    /* Recycle tab specific */
    .recycle-restore-button, .recycle-this-button, .recycle-all-button {
        font-size: 16px;
        margin: 21px 0 21px 3px;
        width: 104px;
        float: left;
    }

    .info {
        float: left;
        clear: left;
        width: 395px;
        text-align: center;
        margin-left: 5px;
        margin-top: 5px;
    }
}

.infoBox {
    position: absolute;
    width: 200px;

    top: 5px;
    right: 5px;

    font-size:12px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.7);  /* @color-primary-0; */
    display: none;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;

    .disabled {
        color: @error-text;
    }

    .titlebox {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-bottom: 1px solid grey;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: rgba(30, 30, 100, 0.8);
    }
    .infoitem {
        margin-top: 5px;
    }
    .mod {
        margin-top: 5px;
        color: #4B56EB;
    }
    .mods {
        margin-bottom: 10px;
    }

    .flavor {
        color: @flavor-text;
        margin-bottom:10px;
    }

    .skilldmg {
        color: @skill-dmg;
        margin-bottom: 10px;
    }

    .xpbox {
        border: 1px solid @menu-text;
        height: 10px;
        width: 100px;
        margin-top: 5px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 3px;
    }

    .xpearned {
        height: 100%;
        background: -webkit-linear-gradient(top, #8d8300 0%, #8d8d54 50%, #8d8300 100%);
        /*background-color: yellow; /*linear-gradient(to bottom, #AAAA00, #FFFF00);*/
        width: 0px;
    }
}

.buttons {
    position: absolute;
    z-index: 1;
    top: 20px;
    height: 215px;
    width: 40px;  /* (73 + 3) * 6 - 3 */

    .button {
        position: relative;
        clear: both;
        width: 36px;
        height: 36px;
        margin-bottom: 3px;

        line-height: 36px;
        text-align: center;
        background-color: rgb(83, 83, 83);
        color: @menu-text;

        border-color: rgb(67, 67, 65);
        border-style: solid;
        border-top-width: 2px;
        border-bottom-width: 2px;

        .newflag {
            font-weight: bold;
            position: absolute;
            color: #FFF;
            top: -16px;
            left: -3px;
            display: none;
            font-size: 14px;
        }
    }
    .button.open {
        background-color: rgb(134, 134, 58);
    }
}
.buttons.left {
    left: 0;

    .button {
        float: left;
        border-right-width: 2px;
        border-left-width: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.buttons.right {
    right: 0;

    .button {
        float: right;
        border-left-width: 2px;
        border-right-width: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.barHolder {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-color: #222;
    color: white;
    margin: 5px;

    .bar {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .text {
        width: 100%;
        position: absolute;
        text-align: center;
    }
}

.name-level {
    position: relative;
    overflow: hidden;
    width: @hero-footer-bar-width;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: @menu-text;
    margin: 5px;

    .level {
        position: absolute;
        right: 0;
        font-weight: 700;
    }

    .name {
        position: absolute;
        left: 0;
        overflow: hidden;
        div {
            width: 1000px;
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    height: 112px;
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    /*background-color: @color-secondary-1-0;*/
    border-top: 2px solid rgba(0, 0, 10, 0.7);
    color: @menu-text;

    .vitals {
        position: absolute;
        left: 33;
        top: 0;
        height: 112px;
        width: 160px;
    }

    .footer-center {
        position: absolute;
        left: 160px;
        top: 0;
        height: 112px;
        width: 456px;  /* (73 + 3) * 6 */

        .barHolder {
            margin: 3px 0;
        }

        .skillchain, .potion-holder {
            float: left;
            height: 83px;
        }
        .skillchain {
            width: 380px;  /* (73 + 3) * 5 */
        }
        .potion-holder {
            width: 73px;
        }
        .skill, .potion {
            float: left;
            width: 73px;
            height: 83px;

            .box {
                position: relative;
                height: 73px;
                width: 73px;
                border-radius: 5px;
                overflow: hidden;

                img {
                    position: absolute;
                }
                .cooldown {
                    background-color: @color-secondary-2-2;
                    opacity: 0.7;
                    position: absolute;
                    bottom: 0;
                    height: 0;
                    width: 73px;
                }
                .indicator {
                    position: absolute;
                    top: 5px;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 16px;
                    border-radius: 10px;
                    color: #111;
                    background-color: rgba(0, 255, 0, 0.6);
                    text-align: center;
                }
                .range-indicator { left: 5px; }
                .mana-indicator { left: 28px; }
            }

            .use-holder {
                position: relative;
                height: 7px;
                width: 73px;
                overflow: hidden;
                margin-top: 3px;

                .use-bar {
                    position: absolute;
                    width: 0;
                    height: 7px;
                    background-color: #333;
                }
            }
        }
        .skill:not(:first-child) { margin-left: 3px; }
        .skill.oor .range-indicator { background-color: rgba(255, 0, 0, 0.8); }
        .skill.oom .mana-indicator { background-color: rgba(255, 0, 0, 0.8); }
    }

    .speed-control, .drop-area {
        position: absolute;
        right: 5px;
        top: 14px;
        height: 83px;
        width: 163px;

        border: 2px solid @button-border;
        border-radius: 5px;
        overflow: hidden;

        color: #aaaaa0;
        background-color: @button-bg;
        text-align: center;
    }

    .drop-area {
        display: none;

        > div {
            position: absolute;

            margin: 3px;
            padding-top: 5px;
            font-size: 16px;
            border: 2px solid @button-border;
            border-radius: 5px;
            color: #aaaaa0;
            background-color: @button-bg;
            text-align: center;

            height: 68px;
            width: 73px;
        }
        .craft-drop {
            display: none;
            left: 0;
        }
        .recycle-drop {
            right: 0;
        }
    }
    .drop-area .craft-drop.dragging-card {
        display: block;
    }

    .speed-control {
        > div {
            position: absolute;
        }

        .timer {
            font-family: 'Source Code Pro', sans-serif;
            font-size: 26px;
            width: 163px;
            height: 40px;
            line-height: 40px;
            border-bottom: 2px solid @button-border;
        }

        .play-pause {
            top: 42px;
            height: 41px;
            width: 41px;
            border-right: 2px solid @button-border;

            img {
                width: 80%;
                height: 80%;
                display: block;
                margin: 10%;
            }
        }
        .play-pause .pause { display: none; }
        .play-pause.paused .pause { display: block; }
        .play-pause .play { display: block; }
        .play-pause.paused .play { display: none; }

        .speed {
            top: 42px;
            left: 43px;
            width: 77px;
            height: 41px;
            line-height: 41px;
            font-size: 20px;
            border-right: 2px solid @button-border;
        }

        .up, .down {
            left: 122px;
            width: 41px;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
        }
        .up { top: 42px; border-bottom: 1px solid @button-border; }
        .down { top: 63px; }
        .up img, .down img {
            height: 20px;
            width: 20px;
            display: block;
            margin-left: 10px;
        }
        .up img { transform: rotate(-90deg); }
        .down img { transform: rotate(90deg); }
    }
}

.map {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 380px;
    overflow: hidden;

    p {
       width: 300px;
       margin-left: 15px;
       margin-bottom: 0px;;
    }
    .holder {
        width: 405px;
        overflow: auto;

        .zone {
            width: 360px;
            height: 50px;
            margin: 10px;
            font-size: 14px;
            line-height: 25px;
            border-radius: 5px;

            img {
                margin-right: 5px;
                float: left;
                width: 50px;
                height: 50px;
            }
        }
    }
    .zone:hover {
        background-color: rgba(190,190,180,0.4);/*@color-primary-1;*/
    }
    .zone.running {
        background-color: rgba(190,190,180,0.2);/*@color-secondary-1-1;*/
    }
}

.config {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 380px;
    overflow: hidden;
    color: @menu-text;    

    .holder {
        width: 405px;
        overflow: auto;
        > div {
            margin-left: 10px;
        }
        #devmsg {
            height: 80px;
            width: 300px;
        }
    }
    p {
       width: 330px;
    }
}

.help {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 380px;
    overflow: hidden;
    color: @menu-text;    

    .holder {
        width: 405px;
        overflow: auto;
        > div {
            width: 360px;
            padding: 0 10px;
        }

    }
}

.build {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 405px;
    overflow: hidden;
    color: @menu-text;    

    .holder {
        width: 405px;
        overflow: auto;
        > div {
            width: 360px;
            padding: 0 10px;
        }

    }
}


.account {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 380px;
    overflow: hidden;
    color: @menu-text;    

    .holder {
        width: 405px;
        overflow: auto;
        > div {
            width: 360px;
            padding: 0 10px;
        }

    }
}

.vis {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .bg {
        z-index: -30;
    }

    .entity {
        z-index: -20;
    }

    .proj {
        z-index: -10;
    }
}

canvas.vis {
    border: 1px solid black;
}

.noselect {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}